body {
    background-color: thistle;;
    color: red;
    text-align: center;
  }
  .title {
    
    color:blue;
  }
  
  
  .start-btn{
    background-color: cornflowerblue;


  }
  #question {
    color: black;
    font-weight: bold;
  }
  .container {
    
    width: 800px;
    background-color:blue;
    border-radius: 5px;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    padding:10px;
  
  }
  .btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
  }
  .btn:hover{
    border-color: black;
  }
  
  .start-btn, .next-btn{
    font-weight: bold;
  }
  
  
  .hide {
    display: none;
  
  }